
@{
    ViewBag.Title = "Perfil";
}


<div class="row m-4">
    <div class="col-md-3">
        <center>
            <div class="card shadow">

                    <img src="~/Media/Imagens/pexels-christina-morillo-1181229.jpg" class="rounded-top card-img" />

                 <div class="text-right card-img-overlay">
                     <a class="btn btn-outline-warning" href="#"><span class="fas fa-image"></span></a>
                 </div>
                <div class="card-body text-left">
                    <h6>Nº Candidatura: <span class="text-info">00340f234gdf</span> </h6>
                    <hr />
                    <h6>Nome: ----------</h6>
                    <h6>Nº BI: ----------</h6>
                    <h6>Data de Nascimento: ----------</h6>
                    <h6>Genero: ----------</h6>
                    <hr />
                    <div class="text-center">
                        <a class="btn btn-warning" href="#">Ver meus documentos</a>
                    </div>
                </div>
                
            </div>
        </center>
    </div>


    <div class="col-md-7">
        <center>
            <div class="card">
                <h4>Dados de Exame</h4>
                <hr />
                <div class="card-body text-left">
                    <div class="col-md-4">
                        <h5>Data de Exame:_____</h5>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>