body {
    overflow-x: hidden;
    width: 100vw;
}

.login-bg {
    background-image: url(../Media/Imagens/matthew-henry-yETqkLnhsUI-unsplash.jpg);
    background-size: cover;
}



.position-center {
    left: 30%;
    right: 30%;
}
