body {
    overflow-x: hidden;
    width: 100vw;
}

.login-bg {
    background-image: url(../Media/Imagens/matthew-henry-yETqkLnhsUI-unsplash.jpg);
    background-size: cover;
}

.criar-bg {
    background-image: url(../Media/Imagens/pexels-frans-van-heerden-2699258.jpg);
    background-size: cover;
}


.position-center {
    left: 30%;
    right: 30%;
}

div.centralizado {
    height:2em;
    position:relative;
}

div.centralizado form{
    margin:0;
    position:absolute;
    top:50%;
    left:60%;
    margin-right:-50%;
    transform: translate(-50%,-50%)
} 