
@{
    ViewBag.Title = "Fazer Exame";
    Layout = "~/Views/Shared/_LayoutCandidato.cshtml";
}

@if (ViewBag.Mensagem != null)
{<h1 class="rounded text-white p-2 text-center m-5 bg-danger">@ViewBag.Mensagem</h1>}

@if (ViewBag.Mensagem == null)
{
    int conta = 1;
    <div style="background:#808080">
        <div class="row">
            <div class="col-md-8" style="margin:50px 0px 50px 230px;">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">EXAME</h4>
                    </div>

                    <div class="card-body">
                        <div class="">
                            <div class="col-md-12">
                                @foreach (var pergunta in Model.Perguntas)
                                {
                                <div class="pergunta bg-light p-3 mb-3">
                                    <b>@(conta++) - @pergunta.Descricao</b>
                                    @foreach (var resposta in pergunta.Respostas)
                                    {
                                        <div class="form-group resposta ml-4 mt-2">
                                            <input name="radio-1" type="radio" />
                                            <label for="radio-1">@resposta.Descricao</label>
                                        </div>
                                    }
                                </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-info" type="button" value="Terminar Exame" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}