@model ProjectoAlexa.Web.ViewModels.UsuarioAtualViewModel

<span class="fas fa-user-circle UsuarioAtualDados" id="" data-ultimaCandidatura="@Model.DataUltimaCandidatura"></span> Seja bem-vindo(a) @Model.NomeUsuario
